# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://ronda:ronda_dev_password@localhost:5433/ronda_dev?schema=public"
JWT_SECRET="dev-secret-change-in-production"
JWT_EXPIRES_IN="7d"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:4000/auth/google/callback"
SLOT_GRID_MINUTES="15"
RESEND_API_KEY="re_bDwU2CjD_QDdX97Y1357oh1QbQNNzTwp3"
CLOUDINARY_URL="cloudinary://377215746128318:Uxh2dlz-0gL5crXqNE4aoNtaiy4@dibgxryri"
PORT="4000"
WEB_URL="http://localhost:5173"
